@model IEnumerable<StoreApp.Models.User>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}

<h2>טבלת משתמשים</h2>

<p>
    <a asp-action="CreateUser">הוסף משתמש חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a asp-action="EditUser" asp-route-id="@item.ID">ערוך פרטי משתמש</a> |
                <a asp-action="UserDetails" asp-route-id="@item.ID">פרטי משתמש</a> |
                <a asp-action="DeleteUser" asp-route-id="@item.ID">מחיקת משתמש</a>
            </td>
        </tr>
}
    </tbody>
</table>
